* {
  background-color: #282c34;
	color: aliceblue;
}
.movieInfo{
	background-color: #282c34;
}

.smallInfo{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

p{
	padding: 0px 40px;
	text-decoration: none;
}

input{
	margin: 30px;
	transition: 0.3s;
	border-radius: 5px;
	font-size: 1.3em;
}

input:hover{

	transition: 0.3s;
	transform: scale(1.2);
	cursor: pointer;
}

